@import '../../node_modules/open-color/open-color.css';

body {
  background-color: var(--oc-gray-2);
  font-weight: 400;
  font-size: 1.6em;
  line-height: 1.6;
}

h2 {
  line-height: 1.2;
  margin-bottom: 1.6rem;
}

.container {
  display: flex;
  flex-direction: column;
}

header {
  border-bottom: 2px solid var(--oc-gray-4);
  background-color: white;
  box-sizing: border-box;
}

.title {
  margin: 0 auto;
}

.nav {
  box-sizing: border-box;
  border-top: 1px solid var(--oc-gray-2);
}

footer {
  border-top:1px solid var(--oc-gray-4);
  padding:20px;
  text-align: center;
  background-color: white;
}

.content {
  display:flex;
}

main {
  padding:10px;
  width: 100%;
}

.pp-list {
  margin: 0 auto;
}

.pp-list-card {
  width: 320px;
  height: 430px;
  margin: 4px !important;
  border-radius: 2px;
  box-shadow:
    0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
  background-color: #fff;
  margin-bottom: 1.6rem;
}

.card-thumbnail {
  min-height: 240px;
  background-color: var(--oc-gray-7);
}

.card-thumbnail img{
  width: 100%;
  max-width: 100%;
  display: block;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.card-padding {
  padding: 1.6rem;
}

.card-padding-1 {
  padding: 1.3rem;
}

.card-header {
  display: flex;
  justify-content: flex-start;
}

.card-tag {
  margin-left: 1px;
  margin-right: 5px;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  box-sizing: border-box;
  font-size: 15px;
  display: inline-flex;
  background-color: var(--oc-blue-5);
  color: white;
  border: 1px solid var(--oc-blue-7);
  width: 65px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 12px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
